#about {
     /* Ensure section takes up at least full viewport height */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #201f1e; /* Enable vertical scrolling if content exceeds viewport height */
    min-height: 100vh;
}

.titlecontainer {
    margin: 2rem;
    border-bottom: #218b6b solid 2px;
}

.aboutTitle {
    font-size: 4.5rem;
    font-weight: 600;
    color: #218b6b;
    font-family: 'Tektur';
    margin-top: 0; /* Remove default margin */
    margin-bottom: 0.5rem;
}

.titlesm {
    display: flex;
    font-weight: 300;
    font-size: .8rem;
    max-width: 50rem;
    color: #ffff;
    margin-bottom: -1rem; 
}

.aboutDesc {
    font-weight: 300;
    font-size: 1rem;
    max-width: 50rem;
    padding: 0 1rem;
    color: #ffff;
}

.logo {
    position: absolute;
    top: 2rem;
    object-fit: cover;
    opacity: .04;
    mask-image: linear-gradient(to top, transparent, #201f1e);
}

.aboutCards {
    margin: 2rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.aboutCard {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: #2b2a28;
    color: #ffff;
}

.aboutImg {
    object-fit: cover;
    height: 5rem;
    width: 5rem;
    margin-right: 1rem;
    margin-top: 1rem;
    
}

.aboutText>p {
    font-size: 0.85rem;
    font-weight: 200;
}

@media screen and (max-width:480px) {
    .aboutText>p {
        font-size: 3vw;
    }
    .aboutImg {
        height: 2.5rem;
        width: 2.5rem;
    }
    .aboutText>h2 {
        font-size: 5vw;
    }
}